<nav class="navbar navbar-default header">
  <div class="container-fluid ">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a id="titre" routerLink="accueil"> MixxQueTuVeux</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a id="titre" routerLink="end-week-playlist">MixxQueTuVeux</a>
      </li>
      <li routerLinkActive="active">
        <a id="titre" routerLink="accueil">Accueil</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuth">
        <a id="titre" routerLink="search">Rechercher</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuth">
        <a id="titre" routerLink="profile">Mon profil</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a id="titre" routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a id="titre" routerLink="auth/signin">Connexion</a>
      </li>
      <li>
        <a id="titre" (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

