#titre{
  front-size:50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: rgba(20, 20, 20, 0.7);
}
#titre:hover{
  background-color: mediumspringgreen;
  margin-top: -3px;
  border-bottom: 2px solid mediumseagreen;
}

.navbar-default {
  background-color: #f8f8f8;
  /*border-color: mediumspringgreen;*/
  color: mediumseagreen;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  margin-top: -4px;
  border-bottom: 3px solid indianred;
  height: 100%;
}
.header {
  background-color : whitesmoke;
  margin-left: -10px;
  margin-right: -5px;
  border-bottom: 3px solid mediumseagreen;
}

