<nav class="navbar navbar-default header">
  <div class="container-fluid ">
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a id="titre" routerLink="end-week-playlist">MixxQueTuVeux</a>
      </li>
      <li routerLinkActive="active">
        <a id="titre" routerLink="accueil">Accueil</a>
      </li>
      <li routerLinkActive="active">
        <a id="titre" routerLink="recherche">Rechercher</a>
      </li>
      <li routerLinkActive="active">
        <a id="titre" routerLink="contact">Contact</a>
      </li>
      <li>
        <a id="titre" routerLink="profile">Mon profil</a>
      </li>
      <li routerLinkActive="active">
        <a id="titre" routerLink="auth/signin">Connexion</a>
      </li>
    </ul>
  </div>
</nav>
