#footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  background-color: whitesmoke;
  border-top: 2px solid rgba(20, 20, 20, 0.3);
}

#info{
  text-align: center;
  margin: 1%;
}
