.btn{
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
  background-color: mediumseagreen;
  margin-bottom: 2%;
}
.btn:hover{
  background-color: seagreen;
}

.body{
  background-color: whitesmoke;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 9px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  box-shadow: 2px 2px 20px rgba(20, 20, 20, 0.3);
  text-align: center;
  margin-bottom: 5%;
}
#picture{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 10px #5D5D5D;
}

.trackList{
  text-align: left;
}
.num{
  text-align: center;
  width: 7%;
}
.title{
  padding-left: 5%;
  text-align: left;
}
table, th, td, tr{
  border: 2px solid #5D5D5D;
}
table{
  box-shadow: 1.5px 1.5px 15px rgba(20,20,20,0.3);
}
tr:hover{
  background-color: azure;
}
th{
  height: 40px;
}
a{
  color: mediumseagreen;
}
a:hover{
  color: forestgreen;
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

