h2{
  color: black;
}
.form-group{
  color:black;
}
.body{
  background-color: whitesmoke;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 9px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  box-shadow: 2px 2px 20px rgba(20, 20, 20, 0.3);

}

.btn{
  background-color: mediumseagreen;
}
.btn:hover{
  background-color: seagreen;
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
