<div class="row">
  <table class="table">
    <thead class="header">
    <th scope="col">Classement</th>
    <th scope="col">Nom</th>
    <th scope="col">Auteur</th>
    <th scope="col">Genre</th>
    <th scope="col">Nombre de votes</th>
    </thead>
    <tbody class="tab">
    <tr *ngFor="let music of mesMusiques; index as i">
      <td class="col-3">
        {{i+1}}
      </td>
      <td class="col-3">
        {{music.name}}
      </td>
      <td class="col-3">
        {{music.auteur}}
      </td>
      <td class="col-3">
        {{music.genre}}
      </td>
      <td class="col-3">
        {{music.nbVotes}}
      </td>
      <td class="col-4">
        <button (click)="ajouterVote()"> Ajouter Profil</button>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngFor="let varT of test">{{ varT }}</p>
</div>
