<h4>Ajouter musique</h4>
<div class="blankdivider30">
</div>
<div class="row">
  <div class="span12">
    <div class="cform" id="contact-form">
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm">
        <div class="row">
          <div class="span6">
            <div class="field your-name form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nom de la musique" data-rule="minlen:4" data-msg="Plus de 4 caractères" />
              <div class="validation"></div>
            </div>
            <div class="field your-email form-group">
              <input type="text" class="form-control" name="auteur" id="auteur" placeholder="Auteur" data-rule="minlen:4" data-msg="Veuillez entrer un auteur valide" />
              <div class="validation"></div>
            </div>
            <div class="field subject form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Genre" data-rule="minlen:4" data-msg="Genre valide" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="span6">
            <input type="submit" value="Ajouter la musique" class="btn btn-theme pull-left">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- ./span12 -->
</div>
