<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Me connecter à mon compte</h2>
    <form> <!-- ne ppas oublier de paramétrer le form -->
      <div class="form-group">
        <label for="email">Adresse mail ou nom d'utilisateur</label>
        <!-- id=nom du champ qu'on va récupérer dans la méthode onSubmit-->
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <!-- id=nom du champ qu'on va récupérer dans la méthode onSubmit-->
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="signinForm.invalid">Me connecter</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
