h2{
  color: black;
}
.form-group{
  color:black;
}
.body{
  background-color: whitesmoke;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 9px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  box-shadow: 2px 2px 20px rgba(20, 20, 20, 0.3);

}
.btn{
  background-color: mediumseagreen;
}
.btn:hover{
  background-color: seagreen;
}

