<div class="body">
  <h1 id="presentation">MixxQueTuVeux</h1>
  <hr/>
  <div class="bloc">
    <h2>Présentation</h2>
    <hr class="subdesc"/>
    <p class="details">MixxQueTuVeux est une webradio créé par 4 étudiants de deuxième année de DUT Informatique.
      Cette webradio contient une émission chaque samedi soir à 21h. Vous pouvez en tant qu'auditeur faire des suggestions
      pour la playlist de la semaine avec un système de vote directement dans votre onglet profil.</p>
  </div><br>
  <div class="bloc">
    <h2>Comment ça marche?</h2>
    <hr class="subdesc"/>
    <p>MixxQueTuVeux vous permet d'ajouter un son à la playlist de la semaine, ainsi que de voter pour 5 musiques.</p>
    <p>L'utilisation de MixxQueTuVeux en quelques étapes :</p>
    <ul class="details">
      <li><h4>Création d'un compte et connexion</h4><br/> Pour avoir accès aux différentes fonctionnalités de MixxQueTuVeux, il vous faudra
      tout d'abord vous créer un compte et vous connecter.</li>
      <li><h4>Ajout d'une musique dans la playlist</h4><br/> Dans l'onglet "Recherche", vous avez la possibilité de
      recherche une musique, grâce au nom de la musique ou par le nom de l'artiste.</li>
      <li><h4>Ajout de la musique dans le profil</h4><br/> Dans l'onglet MixxQueTuVeux, vous avez accès à toutes les musiques de la playlist de
        la semaine ainsi que celle que vous avez ajoutée précédemment. Pour avoir une chance
      d'avoir vos musiques préférées dans la playlist de la prochaine semaine, il vous suffit d'appuyer sur le bouton "Ajouter Profil".</li>
      <li><h4>Ajout d'un vote </h4><br/> Maintenant rendez-vous dans l'onglet "Profil", c'est ici que vous pourrez donner votre vote pour
      vos 5 musiques préférés. Vous pouvez désormais voter pour vos musiques de 1 à 5, attention, les musiques ne peuvent pas avoir la même note.</li>
    </ul>
  </div>
  <br>
  <div class="bloc">
    <h2> Développeurs</h2>
    <hr class="subdesc"/>

    <ul class="team">
      <li class="hvr-pulse-grow">Jérémy Dupuis</li>
      <li class="hvr-pulse-grow">Théo Merveilleo</li>
      <li class="hvr-pulse-grow">Valentin Michel</li>
      <li class="hvr-pulse-grow">Jordan Nique</li>
    </ul>
  </div>
</div>
